@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    /* background-color: #333; */
}

::selection {
    background-color: #0b372dbb;
}

.logo {
    width: 100px;
}

header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
    /* background-color: red; */
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.search a {
    font-size: 1.05rem;
    padding: 0 3rem;
}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::before {
    top: -4.5px;
}

.hamburger .bar::after {
    top: 4.5px;
}

main {
    position: relative;
    background-color: #353;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    width: 2800px;
    top: calc(50% - 390px);
    left: calc(50% + 10px);
    width: 194.44%;
    top: 1.89%;
    left: 50.69%;
    z-index: 1;
}

.fog-7 {
    position: absolute;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    width: 132%;
    top: 37.7%;
    left: 70.8%;
    z-index: 2;
}

/* over */
.mountain-10 {
    position: absolute;
    z-index: 3;
    top: calc(50% + 69px);
    left: calc(50% + 230px);
    width: 870px;
    top: 58.52%;
    left: 65.97%;
    width: 60.41%;
}

.fog-2 {
    position: absolute;
    z-index: 4;
    top: calc(50% + 95px);
    left: calc(50% + 7px);
    width: 1833px;
    top: 61.72%;
    left: 50.49%;
    width: 95.46%;
}

/* over */
.mountain-9 {
    position: absolute;
    z-index: 5;
    top: calc(50% + 119px);
    left: calc(50% - 457px);
    width: 463px;
    top: 64.69%;
    left: 18.26%;
    width: 32.15%;
}

/* over */
.mountain-8 {
    position: absolute;
    z-index: 6;
    top: calc(50% + 96px);
    left: calc(50% - 202px);
    width: 786px;
    top: 61.85%;
    left: 36%;
    width: 54.58%;
}

.fog-3 {
    position: absolute;
    z-index: 7;
    top: calc(50% + 271px);
    left: calc(50% + 29px);
    width: 449px;
    top: 85.45%;
    left: 52%;
    width: 31.18%;
}

.mountain-7 {
    position: absolute;
    z-index: 8;
    top: calc(50% + 134px);
    left: calc(50% + 305px);
    width: 515px;
    top: 66.54%;
    left: 71.18%;
    width: 35.76%;
}

.mountain-6 {
    position: absolute;
    z-index: 10;
    top: calc(50% + 86.5px);
    left: calc(50% + 590px);
    width: 383.5px;
    top: 60.68%;
    left: 87.97%;
    width: 26.63%;
}

.fog-4 {
    position: absolute;
    z-index: 11;
    top: calc(50% + 267px);
    left: calc(50% - 64px);
    width: 543px;
    top: 82.96%;
    left: 45.55%;
    width: 37.70%;
}

.mountain-5 {
    position: absolute;
    z-index: 12;
    top: calc(50% + 289px);
    left: calc(50% + 130px);
    width: 583px;
    top: 85.9%;
    left: 59%;
    width: 40.49%;
}

.fog-5 {
    position: absolute;
    z-index: 13;
    top: calc(50% + 149px);
    left: calc(50% - 28px);
    width: 1435px;
    top: 68.4%;
    left: 48.05%;
    width: 99.65%;
}

.mountain-4 {
    position: absolute;
    z-index: 14;
    top: calc(50% + 221px);
    left: calc(50% - 381.5px);
    width: 717px;
    top: 77.28%;
    left: 23.5%;
    width: 49.8%;
}

.mountain-3 {
    position: absolute;
    z-index: 15;
    top: calc(50% + 133px);
    left: calc(50% + 736px);
    width: 419px;
    top: 66.42%;
    left: 97.1%;
    width: 29.1%;
}

.fog-6 {
    position: absolute;
    z-index: 16;
    top: calc(50% + 177px);
    left: calc(50% - 30px);
    width: 2418px;
    opacity: 0.7;
    top: 71.85%;
    left: 47.92%;
    width: 167.92%;
}

.mountain-2 {
    position: absolute;
    z-index: 17;
    top: calc(50% + 188px);
    left: calc(50% + 412px);
    width: 625px;
    top: 73.21%;
    left: 78.61%;
    width: 43.40%;
}

.mountain-1 {
    position: absolute;
    z-index: 18;
    top: calc(50% + 91.5px);
    left: calc(50% - 651px);
    width: 580px;
    top: 61.3%;
    left: 10.8%;
    width: 40.27%;
}

.text {
    position: absolute;
    z-index: 9;
    top: calc(50% - 130px);
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto;
}

.text h2 {
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;
}

.text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.sun-rays {
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 595px;
    pointer-events: none;
}

.black-shadow {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}

.fog-1 {
    position: absolute;
    z-index: 21;
    /* top: calc(100% - 355px);
    left: 60%;
    width: 1600px; */
    top: 70.17%;
    left: 60%;
    width: 111.11%;
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);

}

@media(max-width: 1100px) {
    .text h1 {
        font-size: 5.8rem;
    }

    .text h2 {
        font-size: 4.7rem;
    }
}

@media(max-width: 725px) {
    .text h1 {
        font-size: 5rem;
        line-height: 1.1;
    }

    .text h2 {
        font-size: 4.1rem;
        line-height: 1.1;
    }

    header nav {
        padding: 0 1rem;
    }

    .logo {
        width: 75px;
    }

    header ul a {
        font-size: 0.73rem;
        padding: 0 0.9rem;
    }

    .search a {
        font-size: 0.85rem;
        padding: 0 1.8rem;
    }

    .hamburger {
        padding-left: 0.9rem;
    }

    .hamburger a {
        height: 30px;
        width: 30px;
    }

    .bg-img {
        width: initial;
        height: 311.44%;
    }

    .fog-7 {
        width: initial;
        height: 211%;
    }

    .mountain-10 {
        width: initial;
        height: 97%;
    }

    .fog-2 {
        width: initial;
        height: 152%;
    }

    .mountain-9 {
        width: initial;
        height: 51%;
    }

    .mountain-8 {
        width: initial;
        height: 87%;
    }

    .fog-3 {
        width: initial;
        height: 50%;
    }

    .mountain-7 {
        width: initial;
        height: 57%;
    }

    .mountain-6 {
        width: initial;
        height: 43%;
    }

    .fog-4 {
        width: initial;
        height: 60%;
    }

    .mountain-5 {
        width: initial;
        height: 65%;
    }

    .fog-5 {
        width: initial;
        height: 160%;
    }

    .mountain-4 {
        width: initial;
        height: 80%;
    }

    .mountain-3 {
        width: initial;
        height: 46%;
    }

    .fog-6 {
        width: initial;
        height: 269%;
    }

    .mountain-2 {
        width: initial;
        height: 70%;
    }

    .mountain-1 {
        width: initial;
        height: 64%;
    }

    .fog-1 {
        width: initial;
        height: 178%;
    }

}

@media(max-width: 520px) {

    .text h1 {
        font-size: 3.3rem;
    }

    .text h2 {
        font-size: 2.6rem;
    }
}